os: linux
language: ruby
dist: bionic
git:
  depth: false
  quiet: true
# Blacklist
branches:
  except:
    - gh-pages
before_install:
  - sudo apt-get install -y doxygen graphviz
script:
   - bundle install
   - bundle exec arduino_ci_remote.rb
   - doxygen doc/Doxyfile
#deploy:
#  provider: pages
#  strategy: git
#  token: $GITHUB_TOKEN
#  keep_history: false
#  local_dir: doc/html
#  verbose: true
#  on:
#    branch: main
